<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Contact_App.Properties.Settings.ContactsConnectionString"
            connectionString="Data Source=DESKTOP-BHBB5O1\SQLEXPRESS;Initial Catalog=Contacts;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Contact_App.Properties.Settings.ContactConnectionString"
            connectionString="Data Source=DESKTOP-BHBB5O1\SQLEXPRESS;Initial Catalog=Contact;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>